* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  background-color: #669bbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.5rem 1em;
}
.navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
.navbar-nav a {
  text-decoration: none;
  color: black;
  cursor: pointer;
  margin: 0 0.375rem;
  font-weight: 600;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  text-transform: uppercase;
}
.navbar-nav a:hover {
  color: #fdf0d5;
}
.navbar-toggler {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  padding: 0;
  margin: 0;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}
.navbar-toggler-icon {
  color: black;
  letter-spacing: 2px;
  padding: 0;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  -webkit-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
}
.navbar-toggler-icon:hover {
  color: #fdf0d5;
}

.hidden {
  display: none;
}

@media screen and (max-width: 992px) {
  .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 4.5em;
    left: 0;
    background-color: #669bbc;
    width: 100%;
    margin: 0;
    padding: 2rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .navbar-nav a {
    margin: 0.375rem 0;
    padding: 0.375rem;
    width: 100%;
  }
  .navbar-nav a:hover {
    background-color: #fdf0d5;
    color: #669bbc;
  }
}
.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgb(232, 232, 232);
  min-height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2em;
}
.about-container {
  max-width: 1100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
}
.about-image {
  height: clamp(300px, 30vw, 400px);
  margin: 0 auto;
  width: auto;
}
.about-text {
  padding: 1em 2em;
  line-height: 2;
  max-width: 600px;
  text-align: center;
  font-size: clamp(16px, 2vw, 20px);
  margin: 0 auto;
}

.quote {
  padding: 4rem;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #780000;
}
.quote-content {
  font-size: 2em;
  text-align: center;
}
.quote-author {
  text-align: end;
  margin-top: 8rem;
  font-size: 1.25em;
  max-width: 600px;
}

.definition {
  padding: 2em 2em 5em;
  margin: 0 auto;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.definition-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.definition-content {
  max-width: 600px;
  text-align: center;
  line-height: 2;
  font-size: clamp(16px, 2vw, 20px);
}

/* FOOTER */
footer {
  background-color: #003049;
  padding: 2em;
  color: #fdf0d5;
}